/* Estilos Globais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 20px;
  text-align: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Seção Sobre Mim */
#about {
  background-color: #ffffff;
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#about h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.2em;
  color: #555;
  line-height: 1.6;
}

/* Seção Projetos */
#projects {
  background-color: #f9f9f9;
  padding: 40px;
  margin: 20px auto;
  max-width: 1000px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#projects h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-item h3 {
  font-size: 1.5em;
  color: #333;
}

.project-item p {
  font-size: 1.1em;
  color: #666;
}

.project-item a {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.project-item a:hover {
  background-color: #555;
}

/* Seção Habilidades */
#skills {
  background-color: #ffffff;
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#skills h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.skills-list {
  list-style-type: none;
  padding: 0;
}

.skills-list li {
  display: inline-block;
  margin: 10px 15px;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border-radius: 8px;
  font-size: 1.2em;
}

/* Seção Contato */
#contact {
  background-color: #ffffff;
  padding: 40px;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#contact h2 {
  font-size: 2em;
  color: #333;
  margin-bottom: 20px;
}

.contact-links {
  list-style-type: none;
  padding: 0;
}

.contact-links li {
  margin: 10px 0;
}

.contact-links a {
  color: #333;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
}

.contact-links a:hover {
  color: #
